@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}

body{
    background: #e66465;
}

.navigation{
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    background: #fff;
    transition: 0.5s ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    .menuToggle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 23px;

        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background: #333;
            transform: translateY(-8px);
            transition: 0.5s;
        }

        &::after{
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background: #333;
            transform: translateY(8px);
            transition: 0.5s;
            box-shadow: 0 -8px 0 #333;

        }

    }
}